/*color dyal les titres (ADD BY YOUSSEF)*/
:root{
    --main-color:#20B2AA;
}
/*bdlo color lbghito wlkin mtms7uch --main-color*/

body
{
    background-image: url('../pictures/back.jpg');
    background-size:cover;

}
/*ana ra bdalt drop down logo ayji fjanb */
.logo
{
  height: 80px;
  position: absolute;
  top: -8px;
}
.nav1
{
    background-image: linear-gradient(to bottom right, white, black);
    overflow: auto;
    height: 60px;
    padding-top: 15px;
}
.drop
{
    margin-right: 400px
}
.drop li
{
   float: right;
   display: inline;
   margin-right: 30px;
}
.drop li a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.drop li a:hover
{
    color:#20B2AA;
    border-bottom: solid 1px #20B2AA
}
.sign
{
    position: absolute;
    right: 10px;
    top:10px;
}
.sign li
{
  float: left;
  display: inline;
  margin-right: 20px;
}
.sign #sign_up 
{
    background-color:#20B2AA;
    width: 80px;
    height: 40px;
    text-align:center;
    padding-top:8px;
    border-radius:5px;
}
.sign #sign_in 
{
    width: 80px;
    height: 40px;
    text-align:center;
    padding-top:8px;
    border: solid 1px #20B2AA;
    border-radius:5px;
}
.sign #sign_up a
{
   color: white;
   font-size: 16px
}
.sign #sign_in a
{
   color: #20B2AA;
   font-size: 16px
}
#logo
{
    margin-top: -120px;
    margin-left: 3%;
    width: 300px;
    position: absolute;
}

/* Start Contact US (ADD BY YOUSSEF)*/
.contact {
min-height: 500px;
background-image: url('../pictures/maps.png');
background-size: cover;
padding-top: 80px;
padding-bottom: 80px;
position: absolute;
top: 100px;
width: 1330px;
margin-left: 15px
}
.contact .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}
.contact .container{
    position: relative;
    z-index: 2 
}
.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
float: left;
width: 47%;
}
.contact form .right{
float: right;
width: 47%;
}
.contact form input:not([type="Submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="Submit"]):focus,
.contact form textarea:focus{
    outline: 1px solid var(--main-color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type="Submit"]{
padding: 10px;
width: 100%;
border-color: transparent;
background-color: var(--main-color);
color: #fff;
cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder ,
.contact form input:not([type="Submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: .3s;  
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="Submit"]):focus:-ms-input-placeholder {
  opacity: 0;
  transition: .3s;  
}
.contact form textarea:focus::placeholder 
.contact form input:not([type="Submit"]):focus::placeholder{
  opacity: 0;
  transition: .3s;  
}
/* End Contact US*/

