/*color dyal les titres (ADD BY YOUSSEF)*/
:root{
    --main-color:#20B2AA;
}
/*bdlo color lbghito wlkin mtms7uch --main-color*/

body
{
    background-image: url('../pictures/back.jpg');
    background-size:cover;
}
.logo
{
  height: 80px;
  position: absolute;
  top: -8px;
}
.nav1
{
    height: 60px;
    padding-top: 15px;
}
.drop
{
    margin-right: 100px
}
.drop li
{
   float: right;
   display: inline;
   margin-right: 30px;
}
.drop li a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.drop li a:hover
{
    color:#20B2AA;
    border-bottom: solid 1px #20B2AA
}
#logo
{
    margin-top: -120px;
    margin-left: 3%;
    width: 300px;
    position: absolute;
}
.features {
  padding-left: 180px;
  padding-top: 40px
}
.features .feat-box {
  width: calc(100% / 4);
  float: left;
  text-align: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom right, white, yellow);
  margin-right: 20px;
}

.features .feat-box img {
    width: 300px;
}
.features .feat-box h4 {
   font-size: 22px;
   margin: 15px 0 40px;
   position: relative;
  color:#7bb9ae;
}
.features .feat-box h4:before{
 content: ''; 
 width: 40px;
 height: 4px;
 background-color: var(--main-color);
 position: absolute;
 left: 50%;
 margin-left: -20px;
 bottom: -22px;
}
.features .feat-box p {
   width: 100px;
   margin: 0 auto;
   line-height: 1.7;
   color: #a7a7a7f0;

}
#h
{
  background-color: red;
  margin-left:100px;
}
/*End our features*/
.recize-pic{
  height: 150px;
object-fit: cover;
object-position: center center;
}