/*color dyal les titres (ADD BY YOUSSEF)*/
:root{
    --main-color:#20B2AA;
}
/*bdlo color lbghito wlkin mtms7uch --main-color*/
body
{
  background-image: linear-gradient(to bottom, black, gray);
  background-size: cover;

}
.logo
{
  height: 80px;
  position: absolute;
  top: -8px;
}
.nav1
{   
    height: 60px;
    padding-top: 15px;
}
.drop
{
    margin-right: 100px
}
.drop li
{
   float: right;
   display: inline;
   margin-right: 30px;
}
.drop li a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.drop li a:hover
{
    color:#20B2AA;
    border-bottom: solid 1px #20B2AA
}


{
   color: white;
   font-size: 16px
}
.sign #sign_in a
{
   color: #20B2AA;
   font-size: 16px
}
#logo
{
    margin-top: -120px;
    margin-left: 3%;
    width: 300px;
    position: absolute;
}
/* START TEXT INTRODUCTION*/
.introduction-text{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}
.introduction-text h1{
font-size: 40px;
color: #fff !important;
}
.introduction-text h1 span{
    color:var(--main-color);
}
.features
{
  width: 1100px;
  height: 400px;
  margin-left: 130px;
  margin-top: 320px;
  padding-left: 120px;
  background-image:url('../pictures/back.jpg');
  background-size: cover;
  box-shadow: -5px -5px 8px #20B2AA, 5px 5px 8px yellow;
}
.features .feat-box {
  width: calc(100% / 5);
  float: left;
  text-align: center;
  margin-top: 20px;
  padding-bottom:10px; 
  box-shadow: -5px -5px 8px #20B2AA, 5px 5px 8px yellow;
  margin-right: 40px;
  background-color: rgba(0,0,0,0.5);
}

.features .feat-box img {
    width: 300px;
    margin-left: -40px ;
}
.features .feat-box h4 {
   font-size: 22px;
   margin: 15px 0 40px;
   position: relative;
  color:#7bb9ae;
}
.features .feat-box h4:before{
 content: ''; 
 width: 40px;
 height: 4px;
 background-color: var(--main-color);
 position: absolute;
 left: 50%;
 margin-left: -20px;
 bottom: -22px;
}
.features .feat-box p {
   width: 120px;
   margin: 0 auto;
   line-height: 1.7;
   color: #a7a7a7f0;

}
/*End our features*/
.recize-pic{
  height: 150px;
  margin-right: 100px;
object-fit: cover;
object-position: center center;
}
/* END TEXT INTRODUCTION*/
