/*color dyal les titres (ADD BY YOUSSEF)*/
:root{
    --main-color:#20B2AA;
}
/*bdlo color lbghito wlkin mtms7uch --main-color*/
video#herovideo{
    width: 100%;

}
.social-icons a{
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    padding-top: 5px;
    transition: all ease 1s;
    background: #000;
    border-radius: 0px;

}
.social-icons a i{
    position: relative;
    bottom: 7px;

}
.vidcontent{
    position: absolute;
    top: 290px;
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    text-align: left;

}
.vidcontent h1{
    font-family: cursive;
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.vidcontent p{
    font-family: 'Roboto Rondensed', sans-serif;
   
}
#vidBtn:hover{
    background: white;
    color: black;
    animation: none;
    text-decoration: none;
}
#vidBtn{
    display: inline-block;
    font-size:16px ;
    padding: 15px 40px;
    border: none;
    background: white;
    color: #333;
    cursor: pointer;
    margin-top: 18px;
    border-radius: 50px;
    animation: shadow-pulse 2s infinite;
    text-transform: uppercase;
}

@keyframes shadow-pulse{
    0%{
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
.social-icons a{
    color: #333 !important;
    border: 4px solid white;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease 1s;

    margin-top: 40px;
    background:white !important;
}
ul.social-icons.list-inline{
    text-align: center;
    margin-top: 22px;

}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;

}


/*ana ra bdalt drop down logo ayji fjanb */
.logo
{
  height: 80px;
  position: absolute;
  top: -8px;
}
.nav1
{   
    background-image: linear-gradient(to bottom right, white, black);
    overflow: auto;
    height: 60px;
    padding-top: 15px;
}
.drop
{
    margin-right: 400px
}
.drop li
{
   float: right;
   display: inline;
   margin-right: 30px;
}
.drop li a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.drop li a:hover
{
    color:#20B2AA;
    border-bottom: solid 1px #20B2AA
}
.sign
{
    position: absolute;
    right: 10px;
    top:10px;
}
.sign li
{
  float: left;
  display: inline;
  margin-right: 20px;
}
.sign #sign_up 
{
    background-color:#20B2AA;
    width: 80px;
    height: 40px;
    text-align:center;
    padding-top:8px;
    border-radius:5px;
}
.sign #sign_in 
{
    width: 80px;
    height: 40px;
    text-align:center;
    padding-top:8px;
    border: solid 1px #20B2AA;
    border-radius:5px;
}
.sign #sign_up a
{
   color: white;
   font-size: 16px
}
.sign #sign_in a
{
   color: #20B2AA;
   font-size: 16px
}
#logo
{
    margin-top: -120px;
    margin-left: 3%;
    width: 300px;
    position: absolute;
}
/* START TEXT INTRODUCTION*/
.introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}
.introduction-text h1{
font-size: 40px;
}
.introduction-text h1 span{
    color:var(--main-color);
}
/* END TEXT INTRODUCTION*/
/* Start Contact US (ADD BY YOUSSEF)*/
.contact {
min-height: 600px;
background-image: url('../pictures/maps.png');
background-size: cover;
padding-top: 80px;
padding-bottom: 80px;
position: absolute;
bottom: -800px;
width: 1330px;
margin-left: 6px
}
.contact .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}
.contact .container{
    position: relative;
    z-index: 2 
}
.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
float: left;
width: 47%;
}
.contact form .right{
float: right;
width: 47%;
}
.contact form input:not([type="Submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="Submit"]):focus,
.contact form textarea:focus{
    outline: 1px solid var(--main-color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type="Submit"]{
padding: 10px;
width: 100%;
border-color: transparent;
background-color: var(--main-color);
color: #fff;
cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder ,
.contact form input:not([type="Submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: .3s;  
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="Submit"]):focus:-ms-input-placeholder {
  opacity: 0;
  transition: .3s;  
}
.contact form textarea:focus::placeholder 
.contact form input:not([type="Submit"]):focus::placeholder{
  opacity: 0;
  transition: .3s;  
}
/* End Contact US*/

